/* style.css */
body {
  font-family: Arial, sans-serif;
  padding: 20px;    
}



.progress-bar-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 30px;
  margin: 20px 0;
}

.progress-bar {
  height: 100%;
  width: 0%;
  background-color: #3498db;
  transition: width 0.5s ease, background-color 0.5s ease;
  border-radius: 25px 0 0 25px;
}
.clrcle{
  width: 20px;
  height:20px;
  border-radius: 50px;
  border: none;
}

#bot1{
  background-color: #f1c40f;
    
}
#bot2{
  background-color: #2ecc71;
}
#bot3{
  background-color: #e67e22;
}
#bot4{
  background-color: #e74c3c;
}

